@model IEnumerable<EmployeeManagementSystem_Reports.Models.Employee>

@{
    ViewBag.Title = "Employees";
}

<h2>Employees</h2>

<div class="d-flex justify-content-between mb-3">

    <a href="@Url.Action("Create", "Employees")"
       class="btn btn-primary">
         Add Employee
    </a>

    <a href="@Url.Action("EmployeeReport", "Reports")"
       class="btn btn-success" target="_blank">
         View Report
    </a>

</div>
@using (Html.BeginForm("Index", "Employees", FormMethod.Get))
{
    <div class="form-group ">
        @Html.TextBox("searchString", null,
                 new
                 {
                     @class = "form-control",
                     placeholder = "Search by Name, Email or Department",
                     
                 })

        <br />

        <input type="submit"
               value="Search"
               class="btn btn-primary mb-1" />

        @Html.ActionLink("Reset",
                              "Index",
                              null,
                              new { @class = "btn btn-secondary mb-1" })
    </div>
}

<table class="table table-bordered">
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Mobile</th>
        <th>Address</th>
        <th>Gender</th>
        <th>Joining Date</th>
        <th>Department</th>
        <th>Actions</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Email</td>
            <td>@item.Mobile</td>
            <td>@item.Address</td>
            <td>@item.Gender</td>
            <td>
                @item.JoiningDate.ToString("dd-MMM-yyyy")
            </td>
            <td>@item.Department.DepartmentName</td>


            <td>
                @Html.ActionLink("Edit", "Edit",
               new { id = item.EmployeeId },
               new { @class = "btn btn-warning btn-sm" })

                @Html.ActionLink("Details", "Details",
                         new { id = item.EmployeeId },
                         new { @class = "btn btn-info btn-sm" })

                @Html.ActionLink("Delete", "Delete",
                         new { id = item.EmployeeId },
                         new { @class = "btn btn-danger btn-sm" })
            </td>

        </tr>
    }

</table>